.projectHead {
    color: #FFE400;
    font-weight: 700;
    font-size: 5em;
    font-family: 'Tomorrow', sans-serif;


}


hr {
    background-color: gray;
    border: 1px;
    height: 1px;
}
@media screen and (max-width: 768px) {
    .projectHead {
        text-align: center;
        font-size: 2.5em;

    }
  }